<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <app-detalhes-usuario slot="end"></app-detalhes-usuario>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-list *ngFor="let vistoria of vistorias">
            <ion-item (click) ="alterar(vistoria.id)">
                <ion-label>{{vistoria.imovel.rua}} - {{vistoria.imovel.numero}}</ion-label>
            </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="adicionar()"><ion-icon name="add"></ion-icon></ion-fab-button>
    </ion-fab>
</ion-content>