<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <app-detalhes-usuario slot="end"></app-detalhes-usuario>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <form [formGroup]="relatoriosForm" (ngSubmit)="gerarRelatorio()">
    <ion-item>
      <ion-label position="floating">Data Visita</ion-label>
      <ion-datetime id="dataVistoria" formControlName="dataVistoria" display-timezone="America/Sao_Paulo" cancelText="Cancelar" doneText="Selecionar"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Imóvel</ion-label>
      <ion-select id="vistoria" autocapitalize="on" formControlName="vistoria">
        <ion-select-option *ngFor="let vistoria of vistorias" [value]="vistoria.imovel.id">{{ vistoria.imovel.rua }} - {{ vistoria.imovel.numero}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <div class="div-buttons">
      <ion-button class="default-buttons" type="submit" [disabled]="!relatoriosForm.valid">
        <strong>Gerar</strong>
      </ion-button>
    </div>
  </form>
</ion-content>